body{
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  height: 100%;
  overflow: auto;
}
ul button ,form button{
  background-color: #003399;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 95%;
  opacity: 0.9;
}
ul button:hover ,form button:hover{
  opacity: 1;
  color: #ffcc00;
}
#sortable {
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 700px;
  width: 1100px;
  margin-top: 42px;
  margin-right: 95px;
}
#sortable li {
  margin: 0;
  padding: 0.5px;
  float: right;
  width: 160px;
  height: 160px;
  text-align: center;
}
body {
  background-color: #ffcc00;
}
li span {
  position: sticky;
  margin-left: -1.3em;
}
.lionPuzzle {
  width: 160px;
  height: 160px;
}
.topnav {
  top: 3px;
  position: fixed;
  background-color: #003399;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  z-index: 1;
}
.topnav button {
  font-size: 25px;
  width: 17%;
  padding: 10px 30px;
  background-color: #003399;
  cursor: pointer;
  color: white;
  border: none;
}
.topnav button:hover {
  color: #ffcc00;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 25px;
  width: 17%;
  cursor: pointer;
}
.topnav a:hover {
  color: #ffcc00;
}
.split {
  height: 95%;
  width: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
  margin-top: 1em;
}
.left {
  left: 0;
  background-color: inherit;
}
.right {
  right: 0;
  background-color: inherit;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 30px;
  float: right;
}
.centered img {
  width: 700px;
  border-radius: 10%;
  height: 600px;
}
.centered a,
.centered button {
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffcc00;
  color: white;
  font-size: 25px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.centered a:hover {
  color: #003399;
}
#gameMode {
  text-align: center;
  margin-top: 50px;
}
#lion img,
#peter img {
  margin-top: 3em;
  border-radius: 0;
  height: 650px;
  width: 1000px;
}
.centered #gif {
  margin-top: 20px;
  width: 1000px;
  height: auto;
  border-radius: 0;
}
#watch {
  margin-top: 30px;
  font-size: 150px;
  color: #ffcc00;
  background-color: #003399;
  left: 10%;
  border-radius: 10%;
}
.giphy {
  font-size: xx-large;
  color: #ffcc00;
  background-color: #003399;
}
.about {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  width: 60%;
  padding: 20px;
  margin: 20px;
  background-color: #003399;
  background-image: url("/LionKing/simba-timon-and-pumba.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: contain;
  color: #ffffff;
}
h2 {
  color: #ffcc00;
  font-size: 40px;
}
p {
  font-size: 20px;
}
.about button {
  background-color: transparent;
  border: none;
  display: inherit;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}



button:hover {
  opacity: 1;
  color: #ffcc00;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #003399;
  z-index: 9;
}
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: #ffcc00;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #003399;
  padding-top: 50px;
}

.modal-content {
  background-color: #ffcc00;
  margin: 5% auto 15% auto;
  border: 1px solid #003399;
  width: 70%;
  text-align: center;
}

hr {
  border: 1px solid #003399;
  margin-bottom: 25px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
